<%- include('./partials/header.ejs') %>

    <hero>
        <div class="container">
            <h1>
                <% if (totalResult === 0) { %>
                    <span class="oops">Oops! We couldn't find what you are looking for, try again, maybe?</span>
                <% }else if(totalResult === 1) { %>
                    We found just <span class="result"><%= totalResult %></span> result for <%= genre %>
                <% }else { %>
                    We found <span class="result"><%= totalResult %></span> results for <%= genre %>
                <% } %>
            </h1>
        </div>
    </hero>

    <main class="books">
        <% book.forEach((book) => { %>
            
            <div class="cards">
                <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" alt="<%= book.title %>">
                <div class="genre"><%= book.genre %></div>
                <div class="cards-inner">
                    <span class="book-title"><%= book.title %></span>
                    <span class="book-author">By: <%= book.author %></span>
                </div>
                <input type="hidden" id="<%= book.id %>">

                <div class="rating" data-rating="<%= book.rating %>">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>

                <a href="/book/<%= book.id %>/<%= book.title.replace(/\s+/g, '-') %>"><button >Read Reviews</button></a>
            </div>

        <% }) %>
        </main>

    <%- include('./partials/footer.ejs') %>